<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>CRWLM3 - The simple, yet awesome, web crawler</title>
    <meta name="description"
          content="Simple web crawler. Made with ♥ in the european champions country. Long live Ederzito!">
    <link rel="stylesheet" href="static/app.bundle.css">
</head>
<body ng-app="crwlm3">
<main-header></main-header>
<crawler ng-class="{'{{loadingClass}}': loading}"></crawler>
<script src="static/app.bundle.js"></script>
</body>
</html>