@import 'variables.css';
@import 'typography.css';
@import 'resets.css';

:root {
  --body-color: var(--main-dark);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-ubuntu);
  background-color: var(--body-color);
}

* {
  box-sizing: border-box;
}
