:root {
  --white: #fff;
  --black: #000;
  --main-dark: #263238;
  --main-darker: color(var(--main-dark) l(-5%));
  --font-pacifico: 'Pacifico', cursive;
  --font-timmana: 'Timmana', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}
