@import '../../variables.css';
@import '../../typography.css';

:root {
  --header-background-color: var(--main-darker);
}

.header {
  background-color: var(--header-background-color);
  color: var(--white);
  padding: 0 10px;
  height: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 5px 0 color(var(--black) a(50%));

  & h1 {
    font-family: var(--font-pacifico);
    font-size: 40px;
    margin: 0 0 15px;
    position: relative;
    z-index: 2;
  }

  & :not(h1) {
    font-family: var(--font-timmana);
  }

  & * {
    position: relative;
    z-index: 2;
  }
}
